html,
body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.swiper-pagination {
	bottom: 30px !important;
}

.swiper-pagination .swiper-pagination-bullet {
	background: transparent;
	border: 2px solid #484d51;
	border-radius: 0;
	height: 10px;
	opacity: 100;
	width: 10px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #484d51;
}

.the-product-holder {
	height: 530px !important;
	overflow-y: visible !important;
}
@media (max-width: 1023px) {
	.the-product-holder {
		height: 465px !important;
	}
}
@media (max-width: 600px) {
	.the-product-holder {
		height: 550px !important;
	}
}
@media (max-width: 540px) {
	.the-product-holder {
		height: auto !important;
	}
	.the-product-holder .swiper-slide {
		padding: 0;
		margin-bottom: 1.5em;
	}
}

.the-product-holder .swiper-pagination {
	bottom: 0px !important;
}

.the-license {
	height: 430px !important;
}
.the-license .swiper-pagination {
	bottom: 0px !important;
}

.after-shadow-outline {
	position: relative;
}
.after-shadow-outline:after {
	border: 2px solid #484d51;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translate(8px, 8px);
	transition: all 0.25s ease-in-out;
}
.after-shadow-outline:hover:after {
	transform: translate(0, 0);
}

/* .transparenta-btn-toblack:after {
	background: #484d51;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	transition: all 0.25s ease-in-out;
	top: 0;
	transform: translate(0, 0);
	width: 100%;
	z-index: -1;
}

.transparenta-btn-toblack:hover:after {
	transform: translate(8px, 8px);
} */

/* TAILWINDCSS CUSTOM MAKER  */
.markdown-container {
	@apply text-black mt-8 w-full list-disc pl-5 lg:pl-12 pr-0 lg:pr-40;
}

.markdown-container ul {
	@apply list-disc;
}
.markdown-container p {
	@apply my-2;
}

.markdown-container2 {
	@apply text-black mt-8 w-full list-disc pl-5 pr-0 lg:pr-20;
}
.markdown-container2 ul {
	@apply list-disc;
}
.markdown-container2 p {
	@apply text-black my-4 w-full list-disc font-bold;
}
.markdown-container2 p:last-child {
	@apply text-black mt-10 w-full list-disc italic font-normal;
}

.markdown-container3 {
	@apply text-black mt-8 w-full pr-0 lg:pr-5 pl-5 lg:pl-20;
}

.markdown-container3 ul {
	@apply list-disc;
}

.markdown-container-servicios {
	@apply text-black w-full pr-0 lg:pr-20 font-medium lg:font-bold mt-4 lg:mt-10;
}
.markdown-container-servicios ul {
	@apply list-disc;
}
.markdown-container-servicios p {
	@apply my-2;
}

.simple-container p {
	@apply my-2;
}
.simple-container p {
	@apply list-disc;
}

#nprogress .bar {
	background: #89a4a9 !important;
	height: 6px !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px #89a4a9, 0 0 5px #89a4a9 !important;
}

#nprogress .spinner-icon {
	border-top-color: #89a4a9 !important;
	border-left-color: #89a4a9 !important;
}

.simple-container ul {
	list-style: initial;
}