html,
body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.swiper-pagination {
	bottom: 30px !important;
}

.swiper-pagination .swiper-pagination-bullet {
	background: transparent;
	border: 2px solid #484d51;
	border-radius: 0;
	height: 10px;
	opacity: 100;
	width: 10px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #484d51;
}

.the-product-holder {
	height: 500px !important;
	overflow-y: visible !important;
}

.the-product-holder .swiper-pagination {
	bottom: 0px !important;
}

.the-license {
	height: 430px !important;
}
.the-license .swiper-pagination {
	bottom: 0px !important;
}

.after-shadow-outline {
	position: relative;
}
.after-shadow-outline:after {
	border: 2px solid #484d51;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translate(8px, 8px);
	transition: all 0.25s ease-in-out;
}
.after-shadow-outline:hover:after {
	transform: translate(0, 0);
}

/* .transparenta-btn-toblack:after {
	background: #484d51;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	transition: all 0.25s ease-in-out;
	top: 0;
	transform: translate(0, 0);
	width: 100%;
	z-index: -1;
}

.transparenta-btn-toblack:hover:after {
	transform: translate(8px, 8px);
} */
